{% extends 'base.html' %}
{% load bulma_tags %}

{% block title %}Jengu-login{% endblock %}

{% block content %}
<div class="column">
	<h2 class="title is-2">Login</h2>
	<form method="post">
		{% csrf_token %}
		{{ form|bulma }}
		<button onclick="storePass();decryptPrivateKey();" class="button is-link is-outlined">Login</button> 
	</form>			
</div>

{% endblock %}